<table id="jommeke" class="spreadsheet">
    <caption>Jommeke albums</caption>
    <col />
    <col />
    <col />
    <col />
    <col />
    <col />
    <thead>
        <tr>
            <th scope="col">Nummer</th>
            <th scope="col">Titel</th>
            <th scope="col">Kaft</th>
            <th scope="col">&euro;</th>
            <th scope="col">&yen;</th>
            <th scope="col">&pound;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jacht op een voetbal</td>
            <td>Softcover</td>
            <td>5,22</td>
            <td>34</td>
            <td>3,76</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>De zingende aap</td>
            <td>Softcover</td>
            <td>5,22</td>
            <td>34</td>
            <td>3,76</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>De Koningin van Onderland</td>
            <td>Hardcover</td>
            <td>8,22</td>
            <td>54,1</td>
            <td>5,91</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Purperen pillen</td>
            <td>Softcover</td>
            <td>5,22</td>
            <td>34</td>
            <td>3,76</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>De Muzikale Bella</td>
            <td>Hardcover</td>
            <td>8,22</td>
            <td>54,1</td>
            <td>5,91</td>
        </tr>
    </tbody>
</table>